/* DON'T TOUCH THIS! */
html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto Condensed';
}

.navbar {
    background-color: paleturquoise;
    width: 100%;
}

.navbar .menu {
    display: flex;
    flex-direction: row;
    margin: 2vh auto;
    justify-content: space-evenly;
    text-transform: uppercase;
}

.menu-item {
    text-decoration: none;
}

div[class^="square"] {
    height: 10vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

@keyframes bg-change {
    to {
        height: 4vh;
        width: 50%;
        margin: auto;
    }
}

.square1 {
    background: #ffa9a3;
    animation-name: bg-change;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.square2 {
    background: #4e82c2;
    animation-name: bg-change;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}

.square3 {
    background: #4ec267;
    animation-name: bg-change;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.square4 {
    background: #f2fa87;
    animation-name: bg-change;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4rem;
    text-transform: uppercase;
    color: #174885;
}

.section-title {
    font-size: 3rem;
    text-transform: uppercase;
    color: #3278cf;
}

.container {
    margin: 10vh;
}
