/* DON'T TOUCH THIS! */
html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto Condensed';
}



.navbar {
    background-color: paleturquoise;
    width: 100%;
}

.navbar .menu {
    display: flex;
    flex-direction: row;
    margin: 2vh auto;
    justify-content: space-evenly;
    text-transform: uppercase;
}

.menu-item {
    text-decoration: none;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4rem;
    text-transform: uppercase;
    color: #174885;
}

.section-title {
    font-size: 3rem;
    text-transform: uppercase;
    color: #3278cf;
}

.container {
    margin: 10vh;
}
